USE [master]
GO
/****** Object:  Database [Emlak]    Script Date: 30.12.2024 13:39:58 ******/
CREATE DATABASE [Emlak]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Emlak', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\Emlak.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Emlak_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\Emlak_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Emlak].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Emlak]
GO
/****** Object:  Table [dbo].[ajans]    Script Date: 30.12.2024 13:39:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ajans](
	[kisi_id] [int] IDENTITY(1,1) NOT NULL,
	[profil_resim] [nvarchar](300) NULL,
	[gorev] [nvarchar](100) NULL,
	[aciklama] [nvarchar](300) NULL,
	[ad_soyad] [nvarchar](220) NULL,
	[twitter] [nvarchar](max) NULL,
	[facebook] [nvarchar](max) NULL,
	[instagram] [nvarchar](max) NULL,
 CONSTRAINT [PK_ajans] PRIMARY KEY CLUSTERED 
(
	[kisi_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[anasayfa]    Script Date: 30.12.2024 13:39:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[anasayfa](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[baslik] [nvarchar](100) NULL,
	[resim1] [nvarchar](300) NULL,
	[resim2] [nvarchar](300) NULL,
	[resim3] [nvarchar](300) NULL,
	[resim4] [nvarchar](300) NULL,
	[resim5] [nvarchar](300) NULL,
 CONSTRAINT [PK_anasayfa] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[bize_ulasin]    Script Date: 30.12.2024 13:39:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[bize_ulasin](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[arkaplan_resim] [nvarchar](300) NULL,
	[konum_baslik] [nvarchar](30) NULL,
	[konum_aciklama] [nvarchar](max) NULL,
	[saatBaslik] [nvarchar](30) NULL,
	[hizmet_saatleri] [nvarchar](max) NULL,
	[email_baslik] [nvarchar](max) NULL,
	[email] [nvarchar](max) NULL,
	[telefon_baslik] [nvarchar](30) NULL,
	[telefon_numarasi] [bigint] NOT NULL,
 CONSTRAINT [PK_bize_ulasin] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[detay]    Script Date: 30.12.2024 13:39:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[detay](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[ev_resim1] [nvarchar](300) NULL,
	[ev_resim2] [nvarchar](300) NULL,
	[ev_resim3] [nvarchar](300) NULL,
	[aciklama] [nvarchar](max) NULL,
	[kisidetay] [int] NULL,
	[ev_id] [int] NULL,
 CONSTRAINT [PK_detay] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[footer]    Script Date: 30.12.2024 13:39:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[footer](
	[id] [int] NOT NULL,
	[baslik] [nvarchar](40) NULL,
	[adres] [nvarchar](max) NULL,
	[telefon_numarasi] [bigint] NULL,
	[email] [nvarchar](max) NULL,
	[instagram] [nvarchar](max) NULL,
	[twitter] [nvarchar](max) NULL,
	[facebook] [nvarchar](max) NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[hakkimizda]    Script Date: 30.12.2024 13:39:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[hakkimizda](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[baslik] [nvarchar](100) NULL,
	[aciklama] [nvarchar](max) NULL,
	[arkaplan_resim] [nvarchar](300) NULL,
	[alt_baslik1] [nvarchar](100) NULL,
	[aciklama1] [nvarchar](max) NULL,
	[alt_baslik2] [nvarchar](100) NULL,
	[aciklama2] [nvarchar](max) NULL,
	[alt_baslik3] [nvarchar](100) NULL,
	[aciklama3] [nvarchar](max) NULL,
	[resim] [nvarchar](300) NULL,
 CONSTRAINT [PK_about] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[mesaj]    Script Date: 30.12.2024 13:39:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[mesaj](
	[mesaj_id] [int] IDENTITY(1,1) NOT NULL,
	[isim] [nvarchar](100) NULL,
	[email] [nvarchar](100) NULL,
	[konu] [nvarchar](100) NULL,
	[mesaj] [nvarchar](max) NULL,
 CONSTRAINT [PK_mesaj] PRIMARY KEY CLUSTERED 
(
	[mesaj_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[slider]    Script Date: 30.12.2024 13:39:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[slider](
	[slider_id] [int] IDENTITY(1,1) NOT NULL,
	[baslik] [nvarchar](200) NULL,
	[resim] [nvarchar](300) NULL,
	[fiyat] [int] NULL,
	[adres] [nvarchar](500) NULL,
	[ilce] [nvarchar](50) NULL,
	[sehir] [nvarchar](50) NULL,
	[yatak_sayisi] [int] NULL,
	[banyo_sayisi] [int] NULL,
	[durum] [nvarchar](50) NULL,
 CONSTRAINT [PK_slider] PRIMARY KEY CLUSTERED 
(
	[slider_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[yonetim]    Script Date: 30.12.2024 13:39:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[yonetim](
	[adminID] [int] IDENTITY(1,1) NOT NULL,
	[ad] [nvarchar](50) NULL,
	[soyad] [nvarchar](50) NULL,
	[kullanici] [nvarchar](50) NULL,
	[sifre] [nvarchar](50) NULL,
 CONSTRAINT [PK_yonetim] PRIMARY KEY CLUSTERED 
(
	[adminID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[ajans] ON 

INSERT [dbo].[ajans] ([kisi_id], [profil_resim], [gorev], [aciklama], [ad_soyad], [twitter], [facebook], [instagram]) VALUES (2, N'4d715c13-a436-45ef-9baa-103c115b4640.jpg', N'Ceo', N'Bilgisayar Mühendisi', N'Doğukan Güney', N'www.instagram.com/doguneyy1', N'www.facebook.com/dogukanneyy', N'www.instagram.com/doguneyy')
INSERT [dbo].[ajans] ([kisi_id], [profil_resim], [gorev], [aciklama], [ad_soyad], [twitter], [facebook], [instagram]) VALUES (10, N'076d4026-d991-4b62-a485-c4acb6ee43f5.jpg', N'Ev Sahibi', N'Yazılımcı', N'Furkan TEBER', N'yok', N'yok', N'yok')
SET IDENTITY_INSERT [dbo].[ajans] OFF
GO
SET IDENTITY_INSERT [dbo].[anasayfa] ON 

INSERT [dbo].[anasayfa] ([id], [baslik], [resim1], [resim2], [resim3], [resim4], [resim5]) VALUES (1, N'Hayalinizdeki Evi Bulmanın En Kolay Yolu...', N'hero_bg_3.jpg', N'hero_bg_2.jpg', N'hero_bg_2.jpg', N'pexels-photo-1396132.jpg', N'Emlaksat-Blog-Gorselleri-7.jpg')
SET IDENTITY_INSERT [dbo].[anasayfa] OFF
GO
SET IDENTITY_INSERT [dbo].[bize_ulasin] ON 

INSERT [dbo].[bize_ulasin] ([id], [arkaplan_resim], [konum_baslik], [konum_aciklama], [saatBaslik], [hizmet_saatleri], [email_baslik], [email], [telefon_baslik], [telefon_numarasi]) VALUES (1, N'af6ccb01-56cf-468a-891f-d2d5ba926d61.jpg', N'Konum', N'15 Temmuz Mahallesi', N'Çalışma Saatleri', N'08:00-17:00', N'Email', N'dogu.gny.1903@gmail.com', N'Telefon Numarası', 5437302822)
SET IDENTITY_INSERT [dbo].[bize_ulasin] OFF
GO
SET IDENTITY_INSERT [dbo].[detay] ON 

INSERT [dbo].[detay] ([id], [ev_resim1], [ev_resim2], [ev_resim3], [aciklama], [kisidetay], [ev_id]) VALUES (5, N'f7d81b18-49dc-4841-8923-ab176dfe3e53.jpg', N'eeb85780-dc5a-4005-8c0f-28cc67e431a1.jpg', N'd560e354-5bcb-4ef1-8bb3-c11556d090e4.jpg', N'Sahil Kenarı', 2, 1)
INSERT [dbo].[detay] ([id], [ev_resim1], [ev_resim2], [ev_resim3], [aciklama], [kisidetay], [ev_id]) VALUES (6, N'5fa60826-f0fb-4055-8b26-76f29cb5ac3d.jpg', N'81498eba-325e-4ce7-bd29-9e36c1494f94.jpg', N'e68ac70f-b7f9-48a2-b600-80676bbc65bc.jpg', N'Havuzlu', 2, 2)
INSERT [dbo].[detay] ([id], [ev_resim1], [ev_resim2], [ev_resim3], [aciklama], [kisidetay], [ev_id]) VALUES (7, N'fa2d2400-211d-4a16-81e8-98e85792c477.jpg', N'4aa3d76d-c028-44e2-bf29-00b7da76583b.jpg', N'740c44ce-de3f-4deb-a822-57b23fd7b0ff.jpg', N'Modern bir Ev', 2, 3)
SET IDENTITY_INSERT [dbo].[detay] OFF
GO
SET IDENTITY_INSERT [dbo].[hakkimizda] ON 

SET IDENTITY_INSERT [dbo].[hakkimizda] OFF
GO
SET IDENTITY_INSERT [dbo].[mesaj] ON 

INSERT [dbo].[mesaj] ([mesaj_id], [isim], [email], [konu], [mesaj]) VALUES (1, N' Doğukan Güney', N'dogu@gmail.com', N'Fiyat', N'Çok pahalı')
SET IDENTITY_INSERT [dbo].[mesaj] OFF
GO
SET IDENTITY_INSERT [dbo].[slider] ON 

INSERT [dbo].[slider] ([slider_id], [baslik], [resim], [fiyat], [adres], [ilce], [sehir], [yatak_sayisi], [banyo_sayisi], [durum]) VALUES (1, NULL, N'c290dcf0-53f0-4d56-a6d4-1d01d97c9bd0.jpg', 2000000, N'İncirli Mahallesi', N'Şahinbey', N'Gaziantep', 3, 2, N'Satılık')
INSERT [dbo].[slider] ([slider_id], [baslik], [resim], [fiyat], [adres], [ilce], [sehir], [yatak_sayisi], [banyo_sayisi], [durum]) VALUES (2, NULL, N'5f148a5b-ded2-45a8-992f-dc3b657680b2.jpg', 5850000, N'Arnavutköy', N'Beşiktaş', N'İstanbul', 4, 2, N'Satılık')
INSERT [dbo].[slider] ([slider_id], [baslik], [resim], [fiyat], [adres], [ilce], [sehir], [yatak_sayisi], [banyo_sayisi], [durum]) VALUES (3, NULL, N'e61358f8-8a71-423c-bf92-7866fcc4cee4.jpg', 7850000, N'Rıhtım Mahallesi', N'Kadıköy', N'İstanbul', 4, 2, N'Satılık')
SET IDENTITY_INSERT [dbo].[slider] OFF
GO
SET IDENTITY_INSERT [dbo].[yonetim] ON 

INSERT [dbo].[yonetim] ([adminID], [ad], [soyad], [kullanici], [sifre]) VALUES (2, N'Doğukan', N'Güney', N'dogu', N'12')
INSERT [dbo].[yonetim] ([adminID], [ad], [soyad], [kullanici], [sifre]) VALUES (4, N'furkan', N'teber', N'furkan123', N'123')
SET IDENTITY_INSERT [dbo].[yonetim] OFF
GO
ALTER TABLE [dbo].[detay]  WITH CHECK ADD  CONSTRAINT [FK_detay_ajans] FOREIGN KEY([kisidetay])
REFERENCES [dbo].[ajans] ([kisi_id])
GO
ALTER TABLE [dbo].[detay] CHECK CONSTRAINT [FK_detay_ajans]
GO
ALTER TABLE [dbo].[detay]  WITH CHECK ADD  CONSTRAINT [FK_detay_slider] FOREIGN KEY([ev_id])
REFERENCES [dbo].[slider] ([slider_id])
GO
ALTER TABLE [dbo].[detay] CHECK CONSTRAINT [FK_detay_slider]
GO
USE [master]
GO
