
@{
    ViewBag.Title = "Mesaj";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="hero page-inner overlay"
    
    <div class="container">
        <div class="row justify-content-center align-items-center">
            <div class="col-lg-9 text-center mt-5">
                <h1 class="heading" data-aos="fade-up">Bize Ulaşın</h1>

                <nav aria-label="breadcrumb"
                     data-aos="fade-up"
                     data-aos-delay="200">
                    <ol class="breadcrumb text-center justify-content-center">
                        <li class="breadcrumb-item"><a href="/Home/Index">Anasayfa</a></li>
                        <li class="breadcrumb-item active text-white-50"
                            aria-current="page">
                            Bize Ulaşın
                        </li>
                    </ol>
                </nav>
            </div>
        </div>
    </div>
</div>
<div class="section">
    <div class="container">
        <div class="row">
            <h1>Mesajınız Gönderildi...</h1>
        </div>
    </div>
</div>

<script>
    setTimeout(function () {
        window.location.href = '@Url.Action("Contact", "Home")';
    }, 3000); // 3 saniye bekler
</script>
